/* src/main/resources/static/styles.css */

body {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  background-color: #f9f9f9; /* Light background color */
  color: #333; /* Dark text color for better readability */
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 32px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #0056b3;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #ddd;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto; /* Center-align the table */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  background-color: #fff; /* White background for the table */
}

th, td {
  padding: 10px;
  text-align: center; /* Center-align text in table cells */
  border-bottom: 1px solid #ddd; /* Add a border to table cells */
}

th {
  background-color: #add8e6; /* Light blue */
  color: #333; /* Dark text color */
}

tbody tr.even {
  background-color: #f2f2f2; /* Light grey */
}

tbody tr.odd {
  background-color: #ffffff; /* White */
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 14px; /* Reduced font size */
  color: #fff;
  background-color: #0056b3; /* Darker shade of blue */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #004494; /* Even darker shade for hover effect */
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #add8e6; /* Light blue */
  color: #333; /* Dark text color */
  position: fixed;
  width: 100%;
  bottom: 0;
}