<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Server Statistics</title>
  <link rel="stylesheet" th:href="@{/static/styles.css}">
</head>
<body>
<h1>Server Statistics</h1>
<table>
  <thead>
  <tr>
    <th>Server ID</th>
    <th>High Performance Cores In Use</th>
    <th>Low Performance Cores In Use</th>
    <th>RAM In Use (MB)</th>
    <th>Tasks In Process</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="server : ${servers}" th:class="${serverStat.index % 2 == 0} ? 'even' : 'odd'">
    <td th:text="${server.serverId}"></td>
    <td th:text="${server.highPerformanceCoresInUse} + ' out of ' + ${server.highPerformanceCores}"></td>
    <td th:text="${server.lowPerformanceCoresInUse} + ' out of ' + ${server.lowPerformanceCores}"></td>
    <td th:text="${server.ramInUse} + ' out of ' + ${server.totalRam}"></td>
    <td>
      <p th:text="${server.tasksInProcess.size()}"></p>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>